{% extends 'base.html' %}
{% load static %}
<!doctype html>

{% block content %}
<main>
  <div class="figure">
    {% if user.is_authenticated %}
      {% now "jS F Y H:i" %}
      <form method="post"> {% csrf_token %}
        <table>{{form.as_table}}</table>
        <button type="submit">Save</button>
      </form>
      {% if added %}<p>{{added}}'s Meeting Added</p>{%endif%}
      <p>If employee is not added as a visitor already, you can add it <a href="{% url 'visitors_add' %}">here</a></p>
    {% else %}
      <p>Not logged in</p>
      <p>You may <a href="{% url 'login' %}">login</a> to use the system</p>
    {% endif %}
  </div>
</main>
{% endblock %}


