{% extends 'base.html' %}
{% load static %}
<!doctype html>

{% block content %}
<main>
  <div class="container">
    {% if user.is_authenticated %}
      <br>
      {% now "jS F Y H:i" %}
      <p>{{NoOfVisitors}} Registered Visitors</p>
      <p>{{NoOfNtpcVisitors}} Internal | {{NoOfExternalVisitors}} External</p>
      <p>Add a Visitor - <a href="{% url 'visitors_add_internal' %}">Internal</a> | <a href="{% url 'visitors_add_external' %}">External</a></p>
      <p>View Visitors list - <a href="{% url 'visitors_list_internal' %}">Internal</a> | <a href="{% url 'visitors_list_external' %}">External</a></p>
    {% else %}
      <p>Not logged in</p>
      <p>You may <a href="{% url 'login' %}">login</a> to use the system</p>
    {% endif %}
  </div>
</main>
{% endblock %}